@import "tailwindcss";

.bigText {
    display: flex;
    align-items: baseline;
    gap: 0.3rem;  
    background-color: rgb(255, 235, 205);
    border-radius: 7px;
}

.bigText p {
    margin: 5px;
}

.smallText {
    background-color: bisque;
    border-radius: 7px;
}

.smallText p {
    margin: 5px;
}

.button-container{
    display: flex;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 7px;
}

img {
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
    border-radius: 8px;
}

.cats {
    background-color: blanchedalmond;
    border-radius: 7px;
}

.cats p {
    margin: 5px;
}

.coding {
    background-color: blanchedalmond;
    border-radius: 7px;
}

.coding p {
    margin: 5px;
}

.projects {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    border-radius: 7px;
}

.projects p {
    margin: 5px;
}

.projects a {
    margin: 5px;
}

.projects img {
    max-width: 300px;
    max-height: 300px;
    margin: 10px;
    border-radius: 8px;
}

.footer {
    background-color: bisque;
    text-align: center;
    border-radius: 7px;
}

.container {
    background-color: rgb(255, 209, 148);
}